.btn {

    @include font14;
    font-weight: 600;
    color: $colorWhite;
    text-transform: uppercase;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 18px 56px;
    background: $colorPrimary;
    max-width: max-content;

    &:hover {
        background: darken($color: $colorPrimary, $amount: 10);
        border-color: darken($color: $colorPrimary, $amount: 10);
        color: $colorWhite;
    }

    &_black {
        background: $colorWhite;
        color: $colorTextDefault;
        border: 1px solid $colorTextDefault;

        &:hover {
            background: $colorPrimary;
            border-color: $colorPrimary;
            color: $colorWhite;
        }
    }

    &:active {
        background: $colorTextDefault;
        border-color: $colorTextDefault;
        color: $colorWhite;
    }


    @media screen and (max-width: $breakpoint576) {
        max-width: 100%;
        width: 100%;
        padding: 18px 4px;
    }
}