.hero {

    padding-top: clamp(32px, 12.8vw, 128px);
    position: relative;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: $breakpoint576) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    & > * {
        margin-top: 64px;
    }

    // .hero__title
    &__title {
        text-transform: uppercase;

        span {
            color: $colorPrimary;
        }
    }

    // .hero__text
    &__text {
        @include fontSubheading;
        line-height: 1.4;
        margin-top: 32px;
        max-width: 900px;
    }

    // .hero__numbers
    &__numbers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        position: absolute !important;
        top: 128px !important;
        right: 0 !important;
        z-index: 1 !important;
        left: unset !important;
        width: fit-content !important;

        @media screen and (max-width: $breakpoint1200) {
            right: 16px !important;
        }

        @media screen and (max-width: $breakpoint576) {
            display: none;
        }
    }

    // .hero__number
    &__number {

        @include h5;
        font-weight: 400;
        cursor: pointer;

        &.swiper-pagination-bullet-active {
            font-weight: 700;
            color: $colorPrimary;
        }
    }

    // .hero__box
    &__box {
        
        margin-top: 64px;
        padding: 64px 32px;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @media screen and (max-width: $breakpoint992) {
            padding: 32px 16px;
        }
    }

    // .hero_slider
    &_slider {
        text-align: left;
        padding-bottom: 96px;
        & > * {
            margin-top: 0;
        }
        .hero {
            

            // .hero__title
            &__title {
                font-size: clamp(32px, 5vw, 50px);
                line-height: 1.1;
                font-weight: 600;
                max-width: 80%;

                span {
                    font-weight: 700;
                }
            }

            // .hero__text
            &__text {
                font-size: clamp(20px, 2.6vw, 26px);
                line-height: 1.4;

                margin-top: clamp(24px, 6.4vw, 64px);
            }

            // .hero__slide
            &__slide {
                min-height: 432px;
                display: flex;
                flex-direction: column;

                position: relative;

                @media screen and (max-width: $breakpoint576) {
                    min-height: 684px;
                }
            }


            // .hero__btn
            &__btn {
                margin-top: auto;
            }

            // .hero__img
            &__img {
                position: absolute;
                z-index: -1;
                right: -120px;
                bottom: -96px;

                width: clamp(600px, 82vw, 820px);
                aspect-ratio: 820 / 800;

                @media screen and (max-width: $breakpoint576) {
                    width: min(457px, 110vw);
                    bottom: 56px;
                    right: unset;
                    left: -8px;
                }
            }

            // .hero__img-person
            &__img-person {
                width: 100%;
                display: block;
                position: absolute;
                top: 0;
                right: 0;
            }

            // .hero__img-border
            &__img-border {
                width: 97.5%;
                position: absolute;
                top: 10px;
                right: 10px;

                @media screen and (max-width: $breakpoint576) {
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    .swiper-pagination-bullet {
        background: none;
        opacity: 1;
        width: unset !important;
        height: unset !important;
    }
}

