.section {

    margin-top: clamp(64px, 12vw, 128px);
    margin-bottom: clamp(64px, 12vw, 128px);

    scroll-margin: 128px;

    // .section__header
    &__header {
    }

    // .section__title
    &__title {
        text-align: center;
    }

    // .section__body
    &__body {
        margin-top: 32px;
        
        display: flex;
        flex-direction: column;
        gap: 32px;

        &_centered {
            align-items: center;
            text-align: center;
        }

        &_mt_96 {
            margin-top: clamp(44px, 9vw, 96px);
        }
    }

    // .section__box
    &__box {
        @include fontSubheading;
        text-align: center;
    }

    // .section__text
    &__text {
        @include fontDefault;
    }
}
