@import "fonts";
@import "vars";
@import "reset";
@import "typo";
@import "global";
@import "btn";

@import "header";
@import "footer";

@import "text";
@import "box";
@import "ability-card";
@import "about";
@import "calculator";
@import "cases";
@import "companies";
@import "tariffs";
@import "popup";

@import "hero";
@import "section";
@import "form";
@import "steps";
@import "contacts";
@import "./sections/who";


@import "../libs/swiper";
@import "../libs/magnific";


