.ul {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 12px;

    
    @include font20;
    

    & > li {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 8px;
        row-gap: 16px;

        &::before {
            content: '';
            display: inline-block;
            margin-top: .4375em;
            width: .5em;
            height: .5em;
            flex-shrink: 0;
            border-radius: 50%;
            background: $colorPrimary;
        }

        & > ol, ul {
            grid-column: 1 / 3;
            padding-left: 20px;
        }
    }
}

.ol {
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 12px;

    counter-reset: item; 

    @include font20;

    & > li {

        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 8px;
        row-gap: 16px;
        

        &::before {
            content: counter(item) ". ";
            counter-increment: item;
            color: $colorPrimary;
            font-weight: 700;          
        }

        & > ol, ul {
            grid-column: 1 / 3;
            padding-left: 20px;
        }
    }
}

.text {
    text-align: left;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 24px;


    p {
        @include font20;
        line-height: 1.35;

        span {
            color: $colorPrimary;
        }

        b, strong {
            font-weight: 600;
        }
    }

    h2 {
        @extend .h2;
        margin-top: 2em;
        text-transform: uppercase;

        span {
            color: $colorPrimary;
        }
    }
    h3 {
        @extend .h3;
        margin-top: 2em;
        text-transform: uppercase;

        span {
            color: $colorPrimary;
        }
    }
    h4 {
        @extend .h4;
        margin-top: 2em;
        text-transform: uppercase;

        span {
            color: $colorPrimary;
        }
    }
    h5 {
        @extend .h5;
        margin-top: 2em;
        text-transform: uppercase;

        span {
            color: $colorPrimary;
        }
    }
    h6 {
        @extend .h6;
        margin-top: 2em;
        text-transform: uppercase;

        span {
            color: $colorPrimary;
        }
    }
    
    h2, h3, h4, h5, h6 {
        &:first-child {
            margin-top: .5em;
        }
    }

    ol {
        @extend .ol;
    }

    ul {
        @extend .ul;
    }

}
